.clearfix:after 
{
    content: '';
    display: table;
    clear: both;
}

body
{
    font: 13px Arial, sans-serif;
}

.icon
{
    background: url('../img/sprite.png') no-repeat;
    cursor: inherit;
}

.logo
{
    position: absolute;
    left: 70px;
    top: 27px;
}

.logo-image
{
    background-position: 0 0;
    width: 95px;
    height: 37px;
    display: block;
}

.container
{
    margin: 0 auto;
    padding: 56px 0 0 204px;
    color: #666;
    width: 700px;
}

.input-container
{
    width: 325px;
    box-sizing: border-box;
}

.input-block
{
    margin: 0 0 21px 0;
    width: 100%;
}

.input-label
{
    margin: 0 4px 7px 0;
    width: 100%;
}

.input-text
{
    box-sizing: border-box;
    padding: 5px 10px 5px 10px;
    border: 1px solid rgba(0,0,0,.27);
    box-shadow: 0 1px 0 rgba(255,255,255,.2), inset 0 1px 1px rgba(0,0,0,.1);
    height: 32px;
    width: 100%;
}

.input-text:focus
{
    box-shadow: 0 0 6px 2px rgba(255,204,0,.7), 0 1px 0 rgba(255,255,255,.2), inset 0 1px 1px rgba(0,0,0,.1);
}

.input-password-block
{
    margin-bottom: 6px;
    position: relative;
    height: 32px;
}

.input-password
{
    padding-right: 30px;
    position: relative;
    z-index: 10;
}

.eye
{
    margin: 11px 9px;
    background-position: -95px 0;
    width: 14px;
    height: 10px;
}

.input-password-eye
{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 11;
}

.input-password-eye:hover .eye
{
    background-position: -95px -10px; /* something wrong with image */
}

.password_control
{
    height: 6px;
    background: #DDD;
}

.input-phone
{
    margin: 0 0 25px 0;
}

.input-block-phone
{
    margin-bottom: 0;
    display: inline-block;
    width: 175px;
}

.input-buttion-block
{
    float: right;
    margin-bottom: 0;
    width: auto;
}

.input-phone-buttion
{
    margin: 0 0 0 10px;
    padding: 6px 14px 6px 15px;
    background: linear-gradient(#ffdf60,#fc0);
    font-size: 15px;
    border-width: 1px;
    border-radius: 3px;
    border-color: #a69980;
}

.input-phone-buttion:hover
{
    background: linear-gradient(#ffe681,#ffd428);
    cursor: pointer;
}

.assigment-checkbox
{
    margin: 0;
}

.user-assigment-accept-label
{
    line-height: 1.5;
    margin: 0 0 19px 0;
}

.user-assigment-accept-label a
{
    text-decoration: none;
    color: #0072bc;
}

.registration-buttion
{
    padding: 13px 27px;
    border-radius: 4px;
    border-width: 1px;
    line-height: 22px;
    color: #473e09;
    font-size: 24px;
    background: linear-gradient(to bottom,#ffe34a,#ffdb03);
}

.registration-buttion:hover
{
    background: linear-gradient(to bottom,#ffe86a,#ffe130);
    cursor: pointer;
}