body
{
    font: 13px Arial, sans-serif;
}

.canvas
{
    margin: 0 20px 0 0;
    float: left;
    border: 3px #09030d dashed;
}

.shape-control
{
    float: left;
    width: 500px;
    height: 500px;
}

.shape-select
{
    margin: 0 0 16px 0;
    padding: 5px 5px 5px 34px;
    -webkit-appearance: none;
    background-color: #ffc384;
    height: 34px;
    width: 432px;
    box-sizing: border-box;
    border: 1px;
    font-size: 20px;
    display: block;
}

.property
{
    margin: 0 0 20px 0;
    display: inline-block;
}

.property-signature
{
    margin: 0 0 10px 0;
}

.color-parameters
{

}

.input-text
{
    margin: 0 20px 0 0;
    padding: 6px;
    width: 190px;
    font-size: 18px;
}

#rectangle-parameters
{
    display: none;
}

#triangle-parameters
{
    display: none;
}

#circle-parameters
{
    display: none;
}